<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SearchSummarizer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OfflineSummarizer</display-name>
    <servlet-name>OfflineSummarizer</servlet-name>
    <servlet-class>com.search.summary.OfflineSummarizer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfflineSummarizer</servlet-name>
    <url-pattern>/OfflineSummarizer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchHandler</display-name>
    <servlet-name>SearchHandler</servlet-name>
    <servlet-class>com.search.summary.SearchHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchHandler</servlet-name>
    <url-pattern>/SearchHandler</url-pattern>
  </servlet-mapping>
</web-app>